#home-banner {
  border-bottom: 1px solid #EBEEF0;
}

#home-banner h1 {
  margin: 0px;
  font-size: 20px;
  font-weight: 800;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#home-tweet-form {
  border-bottom: 1px solid #EBEEF0;
  padding-top: 8px;
  padding-bottom: 8px;
}

#home-tweet-form-left-part {
  width: 15%;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

#home-tweet-form-left-part-profile-photo {
  height: 45px;
  width: 45px;
  background-color: lightgrey;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-tweet-form-right-part {
  width: 82%;
  vertical-align: top;
  display: inline-block;
}

#home-tweet-form-right-part form {

}

#home-tweet-form-right-part form textarea {
  width: 95%;
  border: 0px;
  border-bottom: 1px solid #EBEEF0;
  font-size: 16px;
  height: 100px;
  margin-bottom: 10px;
}

#home-tweet-form-right-part form textarea:focus {
  outline: none;
}

#home-tweet-submit-btn {
  float: right;
  margin-right: 20px;
  margin-top: -5px;
  color: white;
  background-color: #96bd7a;
  border: 1px solid #96bd7a;
  padding: 5px 14px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 600;
}

#home-tweet-submit-btn:hover {
  transition: 0.2s;
  cursor: pointer;
  background-color: #699b36;
  border-color: #699b36
}


#home-tweet-form-right-part form label {
  font-size: 24px;
  color: #96bd7a;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 50%;
}

#home-tweet-form-right-part form label:hover {
  cursor: pointer;
  transition: 0.2s;
  background-color: #E8F6FD;
}


#home-tweet-file-input {
  display: none;

}

#small-diviser {
  border-bottom: 1px solid #EBEEF0;
  height: 10px;
  background-color: #F7F9FA;
}


/* ------------------------- tweet cell ------------------------- */
#tweet-cell-container {

}

#tweet-cell {
  border-bottom: 1px solid #EBEEF0;
  padding-top: 8px;
  padding-bottom: 8px;
}

#tweet-cell:hover {
  background-color: #F7F7F7;
  transition: 0.2s;
}

#tweet-cell-left-part {
  width: 15%;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

#tweet-cell-left-part-profile-photo {
  height: 45px;
  width: 45px;
  background-color: lightgrey;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tweet-cell-right-part {
  width: 82%;
  vertical-align: top;
  display: inline-block;
}

#tweet-cell-right-part p {
  margin: 0px;
  margin-bottom: 12px;
  font-size: 15px;
}

#tweet-cell-header {
  margin-bottom: 5px !important;
}

#tweet-cell-header a {
  color: black;
  text-decoration: none;
}

#tweet-cell-header a:hover {
  text-decoration: underline;
}

#tweet-cell-header {
  color: grey;
}

#tweet-image {
  width: 93%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #E5E8E8;
  height: 280px;
  border-radius: 15px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tweet-cell-right-part-bottom-links {
  border: 1px solid transparent;
}

#tweet-cell-right-part-bottom-links form {
  display: inline-block;
  width: 28%;
}

#tweet-cell-right-part-bottom-links form input {
  display: inline-block;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 16px;
  color: grey;
  padding: 5px 5px;
  padding-left: 9px !important;
}

#tweet-cell-right-part-bottom-links form input:hover {
  transition: 0.1s;
  color: #96bd7a;
  cursor: pointer;
  background-color: #E8F6FD;
  border-radius: 25px;

}

#tweet-cell-right-part-bottom-links form p {
  display: inline-block;
  margin-top: 10px;
  color: grey;
  position: absolute;
  font-size: 14px;
  margin-left: 3px;
}

#retweeted-link {
  color: #5B7183;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  margin-bottom: 12px;
  margin-top: 5px;
  margin-left: 4%;
}

#retweeted-link a {
  text-decoration: none;
  color: #5B7183;
  font-weight: 700;
}

#retweeted-link a:hover {
  text-decoration: underline;
}


#pagination-container {
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;
}

#pagination-container a {
  text-decoration: none;
  color: #96bd7a;
  background-color: white;
  border: 1px solid #96bd7a;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 25px;
  margin-right: 5px;
  margin-left: 5px;
}

#pagination-container a:hover {
  background-color: #96bd7a;
  color: white;
  transition: 0.2s;
}


/* Mobile Small  --------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 320px) {
  #home-banner {
    display: none;
  }

  #home-banner h1 {
    display: none;
  }

  #home-tweet-form {
    display: none;
  }

  #small-diviser {
    display: none;
  }

}


/* Mobile Medium  --------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 375px) {
  #home-banner {
    display: none;
  }

  #home-banner h1 {
    display: none;
  }

  #home-tweet-form {
    display: none;
  }

  #small-diviser {
    display: none;
  }

}


/* Mobile Large - --------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 425px) {

  #home-banner {
    display: none;
  }

  #home-banner h1 {
    display: none;
  }

  #home-tweet-form {
    display: none;
  }

  #small-diviser {
    display: none;
  }


}


/* Tablet - --------------------------------------------------------------- */
@media screen and (min-width: 426px) and (max-width: 768px) {


}


/* Laptop ------------------------------------------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* nothing for now */
}


/* Laptop Large -------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* nothing for now */
}


/* 4K Large Desktop ------------------------------------------------------- */
@media screen and (min-width: 1441px) {

}
