#chat-container {
  width: 100%;
  height: auto;
}

/* -------------- chat left nav ----------- */
#chat-left-nav {
  width: 39%;
  border-right: 1px solid #EBEEF0;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  overflow-y: scroll;
}

#chat-left-header {
  border-bottom: 1px solid #C4CFD6;
  position: relative;
}

#chat-left-header h3 {
  font-weight: 800;
  font-size: 20px;
  margin: 0px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#chat-left-header button {
  position: absolute;
  top:0;
  right: 0;
  background-color: transparent;
  border: 1px solid transparent;
  color:#96bd7a;
  font-weight: 400;
  font-size: 23px;
  margin-right: 10px;
  padding-top: 5px;
  margin-top: -5px;
}

#chat-left-header button:hover {
  background-color: #E8F6FD;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2
}

#message-link-cell-a {
  text-decoration: none;
}

#message-link-cell-a:hover {
  background-color: #F7F9FA;
  transition: 0.2s;
}

#message-link-cell {
  border-bottom: 1px solid #EBEEF0;
  padding: 15px 0px;
}

#message-link-cell:hover {
  background-color: #F7F9FA;
  transition: 0.2s;
}

#message-link-cell-left-part {
  width: 18%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

#message-link-cell-profile-photo {
  height: 45px;
  width: 45px;
  background-color: lightgrey;
  border-radius: 50%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#message-link-cell-right-part {
  width: 78%;
  display: inline-block;
  vertical-align: middle;
}

#message-link-cell-header {
  margin: 0px;
  color: grey;
}

#message-link-cell-header b {
  color: black;
}

#message-link-cell-date {
  margin: 0px;
  color: grey;
  font-size: 14px;
}

#hidden-chat-panel-bg {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: black;
  opacity: 0.3;
  z-index: 999;
  display: none;
}

#hidden-chat-panel {
  position: fixed;
  top:0;
  left:0;
  background-color: white;
  z-index: 9999;
  border-radius: 12px;
  height: 80vh;
  width: 50%;
  margin-left: 25%;
  margin-top: 3%;
  padding-bottom: 20px;
  overflow-y: scroll;
  display: none;
}

#hidden-chat-panel-header {
  border-bottom: 1px solid #EBEEF0;
}

#hidden-chat-panel button {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: transparent;
  border: 1px solid transparent;
  color: #96bd7a;
  font-size: 22px;
}

#hidden-chat-panel button:hover {
  cursor: pointer;
}

#hidden-chat-panel h3 {
  display: inline-block;
  vertical-align: middle;
  margin:0px;
  margin-top: 20px;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 20px;
}

#new-chat-link-a {
  text-decoration: none;
}

#new-chat-link {
  border-bottom: 1px solid #EBEEF0;
  padding: 15px 0px;
}

#new-chat-link:hover {
  transition: 0.2s;
  background-color: #F7F9FA;
}

#new-chat-link-left-part {
  width: 18%;
  vertical-align: middle;
  display: inline-block;
  height: auto;
  text-align: center;
}

#new-chat-link-profile-photo {
  background-color: lightgrey;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#new-chat-link-right-part {
  width: 78%;
  vertical-align: middle;
  display: inline-block;
  height: auto;
}

#new-chat-link-right-part h4 {
  font-size: 20px;
  margin: 0px;
  color: black;
}

#new-chat-link-right-part p {
  margin: 0px;
  color: grey;
}

/* -------------- chat right content ----------- */
#chat-right-content {
  width: 58%;
  border-right: 1px solid #EBEEF0;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  overflow-y: scroll;
  position: relative;
}

#no-message-banner {
  width: 80%;
  margin: 0 auto;
  margin-top: 40%;
  text-align:center;
}

#no-message-banner h4 {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 5px;
}

#no-message-banner p {
  color: grey;
  font-size: 15px;
}

#no-message-banner button {
  background-color: #96bd7a;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 700;
  color: white;
  border-radius: 25px;
  padding: 6px 20px;
}

#no-message-banner button:hover {
  cursor: pointer;
  transition: 0.2s;
  background-color: #699b36;
}


/* Mobile Small  --------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 320px) {

  /* -------------- chat left nav ----------- */
  #chat-left-nav {
    width: 99%;
    border-right: 0px;
    height: auto;
    overflow-y: none;
  }

  #chat-right-content {
    display: none;
  }

  #hidden-chat-panel {
    height: 80vh;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
  }

  #new-chat-link-left-part {
    width: 28%;
  }

  #new-chat-link-right-part {
    width: 68%;
  }
}


/* Mobile Medium  --------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 375px) {
  /* -------------- chat left nav ----------- */
  #chat-left-nav {
    width: 99%;
    border-right: 0px;
    height: auto;
    overflow-y: none;
  }

  #chat-right-content {
    display: none;
  }

  #hidden-chat-panel {
    height: 80vh;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
  }

  #new-chat-link-left-part {
    width: 28%;
  }

  #new-chat-link-right-part {
    width: 68%;
  }
}


/* Mobile Large - --------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 425px) {

  /* -------------- chat left nav ----------- */
  #chat-left-nav {
    width: 99%;
    border-right: 0px;
    height: auto;
    overflow-y: none;
  }

  #chat-right-content {
    display: none;
  }

  #hidden-chat-panel {
    height: 80vh;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
  }

  #new-chat-link-left-part {
    width: 28%;
  }

  #new-chat-link-right-part {
    width: 68%;
  }

}


/* Tablet - --------------------------------------------------------------- */
@media screen and (min-width: 426px) and (max-width: 768px) {


}


/* Laptop ------------------------------------------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* nothing for now */
}


/* Laptop Large -------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* nothing for now */
}


/* 4K Large Desktop ------------------------------------------------------- */
@media screen and (min-width: 1441px) {

}
