{% load static %}

<!doctype html>
<html>
  <head>
    <title>Tweetle Dee</title>

    <!-- Meta Info -->
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="demir antay" />

    <!-- FAVICON -->
    <link rel="icon" href="{% static 'branding/logo.png' %}" />

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Prata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap" rel="stylesheet">

    <!-- FONT AWSOME -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- REMIX ICON -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">


    <!-- BASE CSS LINKS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_base.css' %}" />

    {% block css_link %}

    {% endblock %}

  </head>

  <body>
    {% with page="0" %}

    <!-- left navigation -->
    <div id="left-navigation">
      <p><a href="{% url 'home' page %}"><img src="{% static 'branding/logo.png' %}" alt="logo.txt"/></a></p>
      <p><a href="{% url 'home' page %}"><i class="ri-home-2-line"></i></a></p>
      <p><a href="{% url 'explore' %}"><i class="ri-hashtag"></i></a></p>
      <p><a href="{% url 'notification' %}"><i class="ri-notification-4-line"></i></a></p>
      <p><a href="{% url 'profile' %}"><i class="ri-user-2-line"></i></a></p>
      <p><a href="{% url 'settings' %}"><i class="ri-settings-5-line"></i></a></p>

      <button id="tweet-panel-open-btn"><i class="ri-add-line"></i></button>

      {% if current_basic_user_profile.profile_photo  %}
        <div id="profile-photo-left-nav" style="background-image: url('{{ current_basic_user_profile.profile_photo.url }}');"></div>
      {% else %}
        <div id="profile-photo-left-nav"></div>
      {% endif %}


    </div>

    <div id="hidden-logout-panel">
      <p><a href="{% url 'logout' %}">Log out @{{ current_basic_user.username }}</a></p>
    </div>

    <script>
      let hidden_logout_panel = document.getElementById("hidden-logout-panel");
      let hidden_logout_panel_toggle = document.getElementById("profile-photo-left-nav");

      hidden_logout_panel_toggle.onclick = function() {

        if (hidden_logout_panel.style.display == "block") {
          hidden_logout_panel.style.display = "none";
        } else {
          hidden_logout_panel.style.display = "block";
        }
      }
    </script>

    <div id="hidden-tweet-panel-bg"></div>
    <div id="hidden-tweet-panel">
      <div id="hidden-tweet-panel-header">
        <button id="tweet_panel_close_btn"><i class="ri-close-fill"></i></button>
      </div>
      <div id="hidden-tweet-panel-form-container">
        <div id="hidden-tweet-panel-form-container-left-box">
          <div id="profile-photo-hidden-panel" style="background-image: url('{% static 'test/test.jpg' %}');"></div>
        </div>
        <div id="hidden-tweet-panel-form-container-right-box">
          <form method="POST" action="{% url 'home' page %}" enctype="multipart/form-data">
              <!-- {% csrf_token %} -->
              <textarea placeholder="What's happening?" name="tweet_content"></textarea>
              <div id="horizontal-line"></div>
              <label for="hidden_tweet_panel_img" name="tweet_image"><i class="ri-image-add-line"></i></label>
              <input type="file" id="hidden_tweet_panel_img" name="tweet_image" />
              <input type="submit" value='Tweet' id="hidden_panel_tweet_submit_btn" name="hidden_panel_tweet_submit_btn" />
          </form>
        </div>
      </div>
    </div>

    <script>
      let hidden_panel = document.getElementById("hidden-tweet-panel");
      let hidden_panel_bg = document.getElementById("hidden-tweet-panel-bg");
      let hidden_panel_open_btn = document.getElementById("tweet-panel-open-btn");
      let hidden_panel_close_btn = document.getElementById("tweet_panel_close_btn");

      hidden_panel_open_btn.onclick = function() {
        hidden_panel.style.display = "block";
        hidden_panel_bg.style.display = "block";
      }

      hidden_panel_close_btn.onclick = function() {
        hidden_panel.style.display = "none";
        hidden_panel_bg.style.display = "none";
      }
    </script>

    <!-- mobile - top and hidden navigation -->

    <div id="temporary-top-mobile-nav">
      {% if current_basic_user_profile.profile_photo  %}
      <div id="profile-photo-mobile-left-nav-opener" style="background-image: url('{{ current_basic_user_profile.profile_photo.url }}');"></div>
      {% else %}
        <div id="profile-photo-mobile-left-nav-opener"></div>
      {% endif %}

      <div id="temporary-top-mobile-nav-logo">
        <img src="{% static 'branding/logo.png' %}" alt='logo' />
      </div>

    </div>

    <div id="hidden-mobile-left-nav-bg"></div>
    <div id="hidden-mobile-left-nav">
      <div id="hidden-mobile-left-nav-header">
        <h4>Account info</h4>
        <button id="hidden-mobile-left-nav-close-btn"><i class="ri-close-line"></i></button>
      </div>
      <div id="hidden-mobile-nav-links">
        <a href="{% url 'home' page %}"><i class="ri-home-2-line"></i> Home</a>
        <a href="{% url 'explore' %}"><i class="ri-hashtag"></i> Explore</a>
        <a href="{% url 'notification' %}"><i class="ri-notification-4-line"></i> Notifications</a>
        <a href="{% url 'profile' %}"><i class="ri-user-2-line"></i> Profile</a>
        <a href="{% url 'settings' %}"><i class="ri-settings-5-line"></i> Settings</a>
        <a href="{% url 'logout' %}" id="mobile-logout-btn"><i class="ri-logout-box-line"></i> Log out</a>
      </div>
    </div>

    <script>
      hidden_moblie_left_nav = document.getElementById("hidden-mobile-left-nav");
      hidden_moblie_left_nav_bg = document.getElementById("hidden-mobile-left-nav-bg");
      hidden_mobile_left_nav_open_btn = document.getElementById("profile-photo-mobile-left-nav-opener");
      hidden_mobile_left_nav_close_btn = document.getElementById("hidden-mobile-left-nav-close-btn");

      hidden_mobile_left_nav_open_btn.onclick = function() {
        hidden_moblie_left_nav.style.display = "block";
        hidden_moblie_left_nav_bg.style.display = "block";
      }

      hidden_mobile_left_nav_close_btn.onclick = function() {
        hidden_moblie_left_nav.style.display = "none";
        hidden_moblie_left_nav_bg.style.display = "none";
      }

    </script>

    <!-- content block container -->
    <div id="content-container">
      {% block content %}

      {% endblock %}
    </div>


    <!-- right navigation -->
    <div id="right-navigation">

      <!-- search -->
      <div id="right-nav-search-container">
          <form action="{% url 'home' page %}" method="POST">
            <!-- {% csrf_token %} -->
            <input name="right_nav_search_submit_btn" id="search-submit-btn" type="submit" value="&#128269;" />
            <input name="search_input" id="search-text-input" type="text" placeholder="Search Tweetle Dee" />
          </form>
      </div>

      <!-- Trends for you -->
      <!--
      <div id="trends-for-you">
        <div id="trends-for-you-header">
            <h3>Trends for you</h3>
            <div id="trends-horizontal-line"></div>
        </div>

        <a href="">
          <div id="trends-cell">
            <p>Trending</p>
            <h4>#Whatsuuuzup</h4>
            <p>39.2K Tweets</p>
          </div>
        </a>

        <a href="">
          <div id="trends-cell">
            <p>Trending</p>
            <h4>#Whatsuuuzup</h4>
            <p>39.2K Tweets</p>
          </div>
        </a>

        <a href="">
          <div id="trends-cell">
            <p>Trending</p>
            <h4>#Whatsuuuzup</h4>
            <p>39.2K Tweets</p>
          </div>
        </a>

        <a href="">
          <div id="trends-cell">
            <p>Trending</p>
            <h4>#Whatsuuuzup</h4>
            <p>39.2K Tweets</p>
          </div>
        </a>

        <a href="">
          <div id="trends-cell">
            <p>Trending</p>
            <h4>#Whatsuuuzup</h4>
            <p>39.2K Tweets</p>
          </div>
        </a>

      </div>
    -->

    <!-- topics to follow -->
    <div id="topics-to-follow">
      <div id="topics-to-follow-header">
          <h3>Topics to follow</h3>
          <div id="topics-horizontal-line"></div>
      </div>

      {% for topic in topics_to_follow %}
        <a href="{% url 'topic_explore' topic.name page %}">
          <div id="topics-to-follow-cell">
            <h4>#{{ topic.name }}</h4>
            <p>Popular right now</p>
          </div>
        </a>
      {% endfor %}

    </div>

      <!-- who to follow -->
      <div id="who-to-follow">
        <div id="who-to-follow-header">
          <h3>Who to follow</h3>
          <div id="who-to-follow-horizontal-line"></div>
        </div>

        {% for user in who_to_follow %}
          <a href="{% url 'other_user_profile' user.user.username %}">
            <div id="who-to-follow-cell">
              <div id="who-to-follow-cell-left-part">
                {% if user.profile_photo %}
                  <div id="who-to-follow-profile-photo" style="background-image: url('{{ user.profile_photo.url }}');"></div>
                {% else %}
                <div id="who-to-follow-profile-photo"></div>
                {% endif %}
              </div>
              <div id="who-to-follow-cell-center-part">
                <h4>{{ user.full_name }}</h4>
                <p>@{{ user.user.username }}</p>
              </div>
              <div id="who-to-follow-cell-right-part">
                <form action="{% url 'home' page %}" method="POST">
                    <!-- {% csrf_token %} -->
                    <input type="hidden" value="{{ user.id }}" name="hidden_user_id" />
                    <input type="submit" value="Follow" name="base_who_to_follow_submit_btn" />
                </form>
              </div>
            </div>
          </a>
        {% endfor %}

      </div>


    </div>


    <!-- mobile bottom navigation -->

    <div id="mobile-bottom-nav-tweet-panel-open-btn">
      <i class="ri-leaf-line"></i>
    </div>

    <div id="hidden-mobile-tweet-panel">
      <div id="hidden-mobile-tweet-panel-header">
        <button id="mobile-hidden-tweet-close-btn"><i class="ri-arrow-left-line"></i></button>
        <form action="{% url 'home' page %}" method="POST" enctype="multipart/form-data">
          <!-- {% csrf_token %} -->
          <input type="submit" value="Tweet" id="hidden-mobile-tweet-submit-btn" name="mobile_hidden_tweet_submit_btn" />

          <div id="hidden-mobile-tweet-panel-horizontal-line"></div>

          {% if current_basic_user_profile.profile_photo %}
          <div id="hidden-mobile-tweet-panel-profile-photo" style="background-image: url('{{ current_basic_user_profile.profile_photo.url }}');"></div>
          {% else %}
            <div id="hidden-mobile-tweet-panel-profile-photo" ></div>
          {% endif %}


          <textarea placeholder="What's happening?" name="tweet_content"></textarea>

          <label for="hidden-tweet-panel-img-input"><i class="ri-image-add-line"></i></label>
          <input type="file" id="hidden-tweet-panel-img-input" name="tweet_image" />

        </form>
      </div>
    </div>

    <div id="mobile-bottom-navigation">
      <div id="mobile-bottom-col">
        <a href="{% url 'home' page %}"><i class="ri-home-2-line"></i></a>
      </div>
      {% with foo="foo" %}
      <div id="mobile-bottom-col">
        <a href="{% url 'search' foo %}"><i class="ri-search-line"></i></a>
      </div>
      {% endwith %}
      <div id="mobile-bottom-col">
        <a href="{% url 'notification' %}"><i class="ri-notification-4-line"></i></a>
      </div>
      <div id="mobile-bottom-col">
        <a href="{% url 'profile' %}"><i class="ri-user-2-line"></i></a>
      </div>
    </div>


    <script>

      let hidden_mobile_tweet_panel = document.getElementById("hidden-mobile-tweet-panel");
      let hidden_mobile_tweet_panel_open = document.getElementById("mobile-bottom-nav-tweet-panel-open-btn");
      let hidden_mobile_tweet_panel_close = document.getElementById("mobile-hidden-tweet-close-btn");

      hidden_mobile_tweet_panel_open.onclick = function() {
        hidden_mobile_tweet_panel.style.display = "block";
      }

      hidden_mobile_tweet_panel_close.onclick = function() {
        hidden_mobile_tweet_panel.style.display = "none";
      }

    </script>


    {% endwith %}
  </body>
</html>
