{% extends 'vanilla_base.html' %}
{% load static %}

{% block css_link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth/terms.css' %}" />
{% endblock %}

{% block content %}

    <div id="terms-banner">
      <h1>Tweetle Dee Terms of Service</h1>
    </div>

    <div id="terms-container">
      <h3>Tweetle Dee Terms of Service</h3>
        <ul>
    <li>0. This project (Tweetle Dee) is built just for educational purposes and is non profit. This project does not contain any assets of Twitter Inc.</li>
    <li>1. Tweetle Dee websites and mobile applications are a social media application.</li>
    <li>2. The user is deemed to have accepted this Agreement by becoming a member of getdemir.com or by visiting getdemir.com.</li>
    <li>3. There should be no data in the membership account that has an element of unlawfulness. An aggressive username cannot be created by acting as someone else, using a name of any individual without permission, or provoking people.</li>
    <li>4. The user is obliged to provide accurate and complete information for the membership account and to keep this information up-to-date.</li>
    <li>5. The user can close the membership account registered on getdemir.com by clicking the "Delete My Membership" button in the profile settings.</li>
    <li>6. The user irrevocably accepted that Tweetle Dee can reward its members at any time, for any reason, as well as terminate its membership unilaterally, close the membership account temporarily or permanently, delete the information in the membership account, and in such a case, make no requests from Tweetle Dee.</li>
    <li>7. It is forbidden to send messages containing threats, harassment and insults to public areas or private message areas on getdemir.com that bothers the members, uploading content. Members acting in violation of this prohibition can be dismissed by Tweetle Dee after their situation is examined.</li>
    <li>8. Information, data, text, photograph, video, audio clip, comments, articles, software, codes, graphics on getdemir.com will be referred to as "content" briefly; These contents can be entered getdemir.com by members as well as getdemir.com editors.</li>
    <li>9. Content uploaded to getdemir.com must be accurate and up to date. Whether any content added, uploaded, created by the User to getdemir.com is shared secretly or shared publicly to all users, it is solely the responsibility of the User, whether it is correct, up-to-date and in compliance with the applicable legislation.</li>
    <li>10. Tweetle Dee reserves the right to remove, edit, change or block any content at any time without notice to the User who uploaded the content and without any reason. getdemir.com and Tweetle Dee are not responsible in any way for the content provided by the user. Tweetle Dee has the right to take down the content-pages that are against the principles and the law; In such a case, the User irrevocably accepted that he will not make any requests from Tweetle Dee.</li>
    <li>11. Tweetle Dee reserves the right to reject, delay, post or post the content from the User without giving any reason, e-mail or any message on their page.</li>
    <li>12. It is forbidden to use, imitate, alter, distribute or store the contents of getdemir.com for other purposes, except for using the services offered on getdemir.com. The user may not sell the content on getdemir.com, abuse it for purposes such as advertisement and use it in a way that will damage the rights of third parties.</li>
    <li>13. The right to publish any content published on getdemir.com cannot be used or published in any media without permission from the content owner. </li>
    <li>14. The user undertakes that there will be no defamatory, deceptive elements, pornographic, immoral photographs, insults, violence, racism, discrimination and illegalness in the content to be entered on getdemir.com.</li>
    <li>15. The user may not create advertisements, upload content that may be implicit advertising and upload spam content without being requested by getdemir and / or without written consent from Tweetle Dee and / or without any agreement with Tweetle Dee. If hobio.com services are to be used for commercial purposes, please contact getdemir.com.</li>
    <li>16. Tweetle Dee can make certain areas or categories of getdemir.com, some services used on Tweetle Dee paid and set these fees unilaterally.</li>
    <li>17. Members of getdemir.com are solely responsible for all the actions they perform with their membership account, all the content they upload, any content and actions related to the membership account even if their membership ends.</li>
    <li>18. Tweetle Dee will pay utmost attention to the security of membership accounts. However, the information registered in the membership account and the security of the account password are the responsibility of the User. The user should never share information about the membership account with third parties. In case of any situation other than the control of the user in the membership account, Tweetle Dee should be contacted immediately. Any malicious use is under the responsibility of the User, including the hijacking of the User's membership account password by third parties and providing illegal content by third parties; All legal and penal liabilities arising from malicious use belong to the User.</li>
    <li>19. The user cannot take actions that will prevent or complicate the use of getdemir.com by other users and members, or damage or disrupt the databases or servers, cannot damage any software, hardware or communication elements, software that contains viruses, or any other computer code, file. can not create, attempt to access any system, data, password, do not act directly or indirectly, decipher the algorithms and codes in the services provided, disrupt their functions, change content, transform, translate, post on other sites without citation, cannot distribute content that may harm third parties, such as chain mail, software viruses, send programs and / or information that may harm information or software on other users' computers, nor behave in a manner that violates Tweetle Dee and getdemir.com. Otherwise; Tweetle Dee reserves the right to initiate all legal and criminal proceedings and make requests.</li>
    <li>20. Tweetle Dee, User's breach of this Agreement, the information it gives while using getdemir.com or subscribing to getdemir.com is incorrect or unrealistic, malicious use of the services provided getdemir.com or if it deems it necessary, it may prevent using getdemir.com or terminate its membership without justification. In these cases, Tweetle Dee also reserves the right to take legal action.</li>
    <li>21. The citation of the content on getdemir.com is possible provided that it remains within reasonable limits and gives reference and links to our site regarding the relevant content. The reasonable limit consists of a simple summary of the work or other content, and should not be enough to eliminate the need to visit getdemir.com in order to be familiar with the content. In any case, it is not possible to cite all of the content on getdemir.com, even if the above conditions are met without the written permission of Tweetle Dee.</li>
    <li>22. Tweetle Dee makes every effort to ensure that getdemir.com does not contain viruses and other harmful content, however, if the User experiences technical problems or if it infects the computer for other reasons or is damaged, the User's computer or programs Tweetle Dee is not responsible for any damage; therefore, no request can be made from Tweetle Dee. The user is obliged to take the necessary measures to avoid the aforementioned damages.</li>
    <li>23. Tweetle Dee may change the structure of getdemir.com's services at any time without prior notice to the User and / or terminate the services or some features temporarily or permanently.</li>
    <li>24. Tweetle Dee, while paying attention to the continuity of the content, services, facilities and other items on getdemir.com, does not guarantee that the publication and / or services offered on getdemir.com will be uninterrupted. In such a case, Tweetle Dee has no responsibility.</li>
    <li>25. In the event of any data loss that may occur due to the defect of the Tweetle Dee or the third person or organization from which Tweetle Dee is served, Tweetle Dee is not responsible for; The responsibility of re-entering lost information and data belongs to the User. Therefore; It is suggested that the user take precautions to protect his data.</li>
    <li>26. Tweetle Dee does not take any responsibility for storing the information of the User, but Tweetle Dee is not responsible if the data stored by Tweetle Dee is entered without permission from the system containing the user, the information is changed, changed or deleted. Every time the user visits getdemir.com, IP address, operating system, browser (Explorer, Chrome etc.), connection time, duration information and similar information are automatically recorded; It is possible to use this information obtained without the permission of the user, Tweetle Dee by associating it with your personal information or anonymously, provided that it is not shared with third parties.</li>
    <li>27. During the time the user visits getdemir.com, javascript codes or similar tracking data can be placed on your computer to analyze cookies or site usage data, also called Tweetle Dee, "cookies". Cookies consist of simple text files, do not contain identity and other private information, although this type of personal information does not contain, session information and similar data are stored and can be used to re-recognize the User.</li>
    <li>28. Tweetle Dee may from time to time include information and links on third party websites in getdemir.com, promotional mails or advertisements. If the User enters other websites by clicking on these links, the said sites or the applications of these sites are not under the control of Tweetle Dee, and this Agreement does not apply to these other accessible sites. Tweetle Dee has no responsibility for the accuracy of the information contained in these sites and their applications. Tweetle Dee has no responsibility for the accuracy, information usage, privacy principles and content of the information on these sites.</li>
    <li>29. If any article of this Agreement becomes invalid or unenforceable, it will not override other articles of the Agreement.</li>
    <li>30. Failure of the Parties to exercise their rights arising from this Agreement partially or completely or act against them in any way will not mean that they waive these rights in any way.</li>
    <li>31. This Agreement may be reorganized and updated as new features are added to getdemir.com or new suggestions are received from getdemir.com Users without prior notice to Users. Therefore, it is recommended that the User revisit this Agreement each time they visit getdemir.com.</li>
        </ul>
    </div>

{% endblock %}
